<section>
    <h1>Liste des exoplanètes</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nom Exoplanète</th>
            <th>hClass</th>
            <th>Année de découverte</th>
            <th>Actions</th>
        </tr>
        {{#each exoplanetsTable}}
        <tr>
            <td>{{this.exoplanet_id}} </td>
            <td>{{this.unique_name}} </td>
            <td>{{this.hclass}} </td>
            <td>{{this.discovery_year}} </td>
            <td>
                <form method="POST" action="/exoplanets/delete">
                    <input type="hidden" name="id" value="{{this.exoplanet_id}}">
                    <input type="submit" value="Supprimer">
                </form>
                <form method="POST" action="/exoplanets/update/index">
                    <input type="hidden" name="id" value="{{this.exoplanet_id}}">
                    <input type="submit" value="Mettre à jour">
                </form>
            </td>
        </tr>
        {{/each}}
    </table>
</section>
<section>
    <h1>Ajouter une Exoplanète découverte</h1>
    <form method="post" action="/exoplanets/add" enctype="multipart/form-data">
        <div>
            <label>Nom de l'exoplanète découverte : </label>
            <input type="text" name="uniqueNameExoplanet" />
        </div>
        <div>
            <label>Classe Habitable de l'exoplanète : </label>
            <select name="hClassExoplanet">
                <option value="Mésoplanète"> Mésoplanète</option>
                <option value="Psychroplanète">Psychroplanète</option>
                <option value="Thermoplanète">Thermoplanète</option>
                <option value="Hypopsychroplanète">Hypopsychroplanète</option>
                <option value="Non Habitable">Non Habitable</option>
            </select>
        </div>
        <div>
            <label> Année de découverte : </label>
            <input type="number" min="2000" max="2022" step="1" value="2021" name="discoveryYearExoplanet" />
        </div>
        <div>
            <label> Image pour l'exoplanète :</label>
            <input type="file" name="image_exoplanet" />
        </div>
        <div>
            <input type="submit">
        </div>
    </form>
    <div class="error-message">
        {{#if errors}}
        <p> Erreurs : </p>
        <ul>
            {{#each errors}}
            <li>{{this.msg}} </li>
            {{/each}}
        </ul>
        {{/if}}
    </div>
</section>
<section>
    <h1>Recherche d'une Exoplanète déjà découverte</h1>

    <form method="get" action="/exoplanets/search">
        <input type="text" name="uniqueNameExoplanet">
        <input type="submit">
    </form>

    {{#if min3Char }}
    {{else}}
    <p> Veuillez entrer 3 caractères au minimum </p>
    {{/if}}
</section>